@media (max-width: 1024px) {

    .container {
        gap: 40px;
        padding: 0 40px;
    }

    .container .info h1 {
        font-size: 42px;
    }

    .info {
        max-width: 500px;
    }
}

@media (max-width: 768px) {

    body {
        background-image: url('../images/bg-mobile.svg');
        background-size: cover;
    }

    .container {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 40px 20px;
        color: var(--first);
    }

    /* Mockup centralizado */
    .mocup img {
        width: 90%;
        max-width: 500px;
    }

    /* Centraliza textos no mobile */
    .info {
        align-items: center;
        text-align: center;
        max-width: 90%;
    }

    .container .info h1 {
        font-size: 32px;
        line-height: 1.3;
    }

    .info p {
        font-size: 15px;
    }

    .info .button {
        padding: 14px 60px;
    }

    /* Footer centralizado */
    .footer {
        justify-content: center;
        margin-top: 40px;
    }
}


@media (max-width: 480px) {

    .container .info h1 {
        font-size: 28px;
        color: var(--first);
    }

    .info p {
        font-size: 14px;
    }

    .info .button {
        padding: 12px 50px;
        font-size: 15px;
    }

    .logo img {
        width: 180px;
        margin-left: 20px;
    }

    .footer img {
        margin-right: 20px;
    }
}
