body {
    background-color: var(--first);
    background: 
        url('../images/bg-desktop.svg') no-repeat center/cover,
        linear-gradient(135deg, #674BB2 0%, #493083 100%);

    color: #fff;
    font-family: 'Open Sans';
    height: 100vh;
}

/* Cabeçalho */

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
}

.logo img{
    margin-left: 70px;
    width: 235px;
    height: 80px;
}

/* Mocup e Texto */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 695px;
    gap: 30px;
}
.container .mocup {
    max-width: 700px;
    width: 100%;

}

.container .info h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    gap: 20px;
}

.info p{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}

.info .button {
    display: inline-block;
    background-color: #fff;
    border-radius: 40px;
    padding: 12px 66px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
}

.info .button:hover {
    background-color: var(--third);
    color: #fff;
}

/* Rodapé */

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}

.footer img{
    margin-right: 50px;
    cursor: pointer;
}
